---
title: JAMStack Ex1 / About Page
layout: base.njk
---

<div class="container">
	<h1>This is the About Page</h1>
	<p>It was made for you using HTML, CSS, and Javascript -- all served as a JAMStack site.</p>
</div>
